<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="nav-bar">
        <div class="nb-left">
          <span class="nb-left-name common-name">name</span>
        </div>
      </nav>
      <div class="oauth-register-box">
        <div class="or-slo">일반회원가입</div>
        <span class="or-detail"> 간편회원가입을 통하여 다양한 해택을 누려보세요. </span>
        <form action="/web/oauth_register_process" class="oauth-form" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input type="hidden" name="id" value="<%= id %>" />
          <div class="cb-registerbox cb-email">
            <input id="common_email" type="text" value="<%= email %>" placeholder="이메일을 입력하세요." name="common_email" autocomplete="off" readonly required />
            <div class="email-validationBtn">
              <span>인증하기</span>
            </div>
            <div class="changeEmail-Btn">
              <span>변경하기</span>
            </div>
          </div>
          <div class="condition-register">위의 이메일로 인증번호를 발송합니다.</div>
          <div class="state-email state-register"></div>
          <div class="cb-registerbox cb-email-validation">
            <input id="validation_email" type="text" maxlength="6" placeholder="인증번호를 입력하세요." autocomplete="off" />
            <div class="email-checkBtn">
              <span>확인</span>
            </div>
          </div>
          <div class="state-register"></div>
          <div class="cb-registerbox cb-name">
            <input id="common_name" required="true" value="<%= name %>" type="text" placeholder="사용자 이름을 입력해주세요." name="common_name" autocomplete="off" />
          </div>
          <input type="submit" value="가입하기" class="or-button" />
        </form>
      </div>
      <div class="oauth-alert-box">
        <div class="oab-slo">가입되어 있는 계정입니다</div>
        <div class="oab-detail">해당 계정으로 로그인 또는 다른 이메일로 회원가입을 하시기 바랍니다.</div>
        <div class="oab-btnBox">
          <div class="oab-loginBtn">로그인</div>
          <div class="oab-emailBtn">이메일 입력</div>
        </div>
      </div>
    </div>
    <script src="/bundle.js"></script>
  </body>
</html>
