<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache" />
    <meta HTTP-EQUIV="Expires" CONTENT="-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="nav-bar">
        <div class="nb-left">
          <span class="nb-left-name">name</span>
        </div>
        <ul class="nb-right">
          <li class="nb-right_customer nb-right_list">
            <a href="/customer">고객센터</a>
          </li>
          <li class="nb-right_usage nb-right_list">
            <a href="/howtouse">이용안내</a>
          </li>
          <%- authUI %>
        </ul>
      </nav>
      <form action="/provide/submit_estimate" method="POST" class="submit_form">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="hidden" name="registrant_id" value="" class="registrant_id"/>
        <input type="hidden" name="sympton_id" value="" class="sympton_id"/>
      <div class="showBeforeEstimate-box">
        <div class="sbe-box-content"></div>
        <div class="sbe-user-info">
          <div class="sbe-user-img"></div>
          <div class="sbe-user-info-right">
            <div class="sbe-user-name"></div>
            <div class="sbe-user-createdAt"></div>
          </div>
        </div>
        <div class="sbe-summary-box">
          <div class="sbe-summary-box-left">
            <div class="summary-img-box">
              <div class="summary-main-img"></div>
            </div>
          </div>
          <div class="sbe-summary-box-right">
            <div class="sbe-summary-box-right-content">
              <span class="content-slo">증상</span>
              <span class="sbe-content-detail"></span>
            </div>
            <div class="sbe-summary-box-right-userwant">
              <div class="sbe-userwant-time">
                <span>요청시간</span>
                <span class="sbe-userwant-time-resultBox"></span>
              </div>
              <div class="sbe-userwant-content">
                <span>요청사항</span>
                <span class="sbe-userwant-content-detail"></span>
              </div>
              <div class="sbe-userwant-location">
                <span
                  >위치정보<br />
                  <span>23.4km</span>
                </span>
                <div><%- Location %></div>
              </div>
            </div>
            <%- btn %>
            <div class="sbe-Precautions">
              <div>견적서 제출시 주의사항</div>
              <div>거리정보는 직선거리이므로 정확하지 않은 거리임을 확인하시길 바랍니다.</div>
              <div>거리정보는 직선거리이므로 정확하지 않은 거리임을 확인하시길 바랍니다.</div>
              <div>거리정보는 직선거리이므로 정확하지 않은 거리임을 확인하시길 바랍니다.</div>
            </div>
          </div>
        </div>
        <div class="sbe-showImg-box"><%- imgs %></div>
      </div>
    </div>
    <div class="sbe-estimate-box">
      <div class="sbe-estimate-box-slo">의심가는 증상을 작성해주세요.</div>
      <textarea name="sympton_detail" id="sympton-detail" cols="70" rows="10" placeholder="의심가는 증상을 설명해 주시기 바랍니다." required></textarea>
      <div class="sbe-estimate-box-price">견적금액을 작성해주세요.</div>
      <div class="price-box">
        <input type="hidden" name="save_price" class="sbe-save-price" />
        <input type="text" class="sbe-estimate-box-price-value" name="estimate_price" placeholder="~10,000" required onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" />
        <span>원</span>
      </div>
      <div class="sbe-getEstimate-btnBox">
        <input type="button" class="sbe-cancel-estimate-btn" value="취소하기" />
        <input type="button" class="sbe-get-estimate-btn" value="제출하기" />
      </div>
    </div>
  </form>
    <script src="../bundle.js"></script>
  </body>
</html>
